<div class="jumbotron center">
<h1>Welcome to my site!</h1>

	 <p>Click to 
		  <%= link_to "Log in", new_user_session_path, class: "btn-default btn-lg" %>
		  <%= link_to "sign up", new_user_registration_path, class: "btn-primary btn-lg" %>.
	 </p>

</div>

<div id="response"></div>
<button id="call" class="btn btn-lg btn-info" onclick="ajax()">CALL</button>


<input class="userinputtext"><h1 class='bigtitle'>Title</h1>

<div class="center">

<div class="container">
  <div class="row">
    <div class="col-sm-12 image1">
      <img src="http://endoftheamericandream.com/wp-content/uploads/2012/03/Number-One-460x460.png" alt="">
    </div>
    <div class="col-sm-12 image2">
      <img src="http://www.astrogle.com/images/2014/09/number-2.png" alt="">
    </div>
    <div class="col-sm-12 image3">
      <img src="http://sport-job-blog.de/wp-content/uploads/2014/06/DreiBlau.png" alt="">
    </div>
        <div class="col-sm-12 image4">
      <img src="http://www.wisdomportal.com/Numbers-4/Number4(300x300).gif" alt="">
    </div>
    <div class="col-sm-12 image5">
      <img src="http://sspa.boisestate.edu/basquestudies/files/2013/12/purple-number-5-md.png" alt="">
    </div>
  </div>
</div>





<div class="container buttons">
  <div class="row ">
    <div class="btn-group">
      <button class="prev btn btn-warning"> PREV </button>
      <button class="reset btn btn-info"> RESET </button>
      <button class="next btn btn-success"> NEXT </button>
    </div>
  </div>
</div>

</div>
